
*~
*.xls
x64
.vs
*.opendb
*.swp
*.gdb_history
*.bin
wpop_*.txt
out/
build
build-*/
build_*/
.project
*.vcxproj.user
tests/*-output/


*.pyc
*~
# Mercurial:
.hg*
# IntelliJ config files:
/.idea
# Eclipse config files:
/.cproject
/.project
# QtCreator config files:
/*.config
/*.creator
/*.creator.user
/*.files
/*.includes
/*.autosave
/CMakeLists.txt.user*
# Mac Finder:
.DS_Store
# CLion/IntelliJ
*cmake-build-debug
.idea/*
# VScode
.vscode/
.vscode/*
build/
