# VS
*~
*.xls
x64
.vs
*.opendb
*.swp
*.gdb_history
*.bin
wpop_*.txt
out/
build/
build-*/
build_*/
cmake-build-debug/
.project
*.vcxproj.user
tests/*-output/
.idea/

# VScode
.vscode/

# Executables
*.exe
*.out
*.app
