# VS
*~
*.xls
.vs
*.opendb
*.swp
*.gdb_history
*.bin
wpop_*.txt
out/
build/
build-*/
build_*/
cmake-build-debug/
.project
tests/*-output/
.idea/
/CMakeSettings.json

# VScode
.vscode/

# Executables
*.exe
*.out
*.app
