# CODEOWNERS file for SpatialSim

# By default we have no code owners

# The model is owned by the Imperial College team, with GH admins for
# emergency approvals.
src/ @dlaydon @NeilFerguson @gnedjati @matt-gretton-dann @z80coder

